
.container{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex: 0 0 auto;
    width: 100%;
    gap: 1rem;
    align-items: center;

    .titleText{
        flex: 1 1 0rem;
    }
}