.container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 1rem 0rem;
    align-items: center;
    width: 100%;
    gap: .75rem;
}

.container img{
    height: 5rem;
    width: 5rem;
    border-radius: .5rem;
}

.container img.child{
    
}


.textColumn{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    white-space: pre-wrap;
    width: 100%;
    flex: 1 1 0rem;
    padding-right: 0.5rem;
    gap: 0.25rem;
}

.textRow{
    display: flex;
    flex-direction: row;
    flex: 1 1 0rem;
    gap: 2rem;
}

.itemModel{
    color: var(--color__tertiary)
}

.description{
    color: var(--color__primary)
}