.exchProdInfoCmpnt{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0rem;
    align-items: center;
    width: 100%;
    gap: .75rem;

    .productImage{
        height: 5rem;
        width: 5rem;
        border-radius: .5rem;
    };

    .childImage{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 5rem;
        height: 3rem;
        align-items: center;
        justify-content: center;
    };

    .prodImgBox{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 5rem;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .textColumn{
        display: flex;
        flex-direction: column;
        white-space: pre-wrap;
        width: 100%;
        flex: 1 1 0rem;
        padding-right: 0.5rem;
        gap: 0.25rem;
    };

    .textRow{
        display: flex;
        flex-direction: row;
        flex: 1 1 0rem;
        gap: 2rem;
    };
    
    .itemModel{
        color: var(--color__tertiary)
    };
    
    .prodDescription{
        color: var(--color__primary)
    };

}





