.STRX_top {
  & .replacementCheck {
    & .main_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding: 0rem 25%;

      & .hBox {
        padding: 2rem 0rem;
        width: 100%;
      }
    }

    /* --------------------------------------------- */
    /* --------------   Shared 30   ---------------- */
    /* --------------------------------------------- */
  }
}

/* // .totalPriceCol deleteCol */
