.STRX_top .addItemsAndInvos {


  /* ---- Entry Panels ---- */
  & .allEntry30{
    & .tabBox{
      display: flex;
      flex-direction: row;
      flex: 0 0 auto;
      width: 100%;
    }
  }

  & .inputSection{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0rem;

    & .inputRow{
      display: flex;
      flex-direction: row;
      flex: 0 0 auto;
      width: 100%;
      gap: 1rem;
      justify-content: right;
    }
  }

  & .noneScanned {
    display: flex;
    flex: 1 1 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & img {
      height: 8rem;
    }
  }

  & .itemsList {
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0rem;

    & .itemCard{
      display: flex;
      flex-direction: column;
      flex: 1 1 0rem;
      width: 100%;
      gap: 1rem;
      padding: 1rem 0rem;

        & .detailCol{
          display: flex;
          flex-direction: column;
          flex: 8 8 0rem;
        }


    }
  }
}
