.STRX_top .addItemsAndInvos {
  & .noneScanned {
    display: flex;
    flex: 1 1 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & img {
      height: 8rem;
    }
  }

  & .allEntry30{
    & .tabBox{
      display: flex;
      flex-direction: row;
      flex: 0 0 auto;
      width: 100%;
    }
  }

  & .inputSection{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0rem;


    & .inputRow{
      display: flex;
      flex-direction: row;
      flex: 0 0 auto;
      width: 100%;
      justify-content: space-between;
    }
  }
}
