.maincontent{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1.5rem;
    gap: 1.5rem;
}

.button{
    margin: 0rem 1rem;
    width: 100%
}

.quantity_container{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: .5rem;

}

.quantity_container label{
    font-size: .75rem;
    color: #666666;
}

.itemsearch{
    width: 100%;
}

.itemquantity{
    width: 3rem;

}