.container{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.mainColumn{
    display: flex;
    flex-direction: column;
    flex: 2 2 0rem;
    align-items: flex-start;
}

.secondaryColumn{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    align-items: center;
    justify-content: center;
}

.mainColumn > section{
    display: flex;
    flex-direction: row;
    flex: 1 1 0rem;
    align-items: center;
}

