.container{
    display: flex;
    flex-direction: row;
    flex: 1 1 0rem;
    gap: 1rem;
}


.thirtyContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #fff;
    padding: .5rem 1rem;
}

.seventyContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #fff;
    padding: 0% 20%;
}

