.container{
    display: flex;
    flex-direction: row;
    flex: 1 1 0rem;
    gap: 1rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #fff;
    overflow: auto;
}

.thirtyContent{
    padding: 0rem 1rem;
}

.seventyContent{
    padding: 0rem 15%;
}

