
/* Button CSS*/

.baseButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-width: 1.5px;
    height: 2rem;
    text-decoration: none;
    border-radius: 4px;
    padding: 0rem 1rem;
    font-weight: 500;
  }
  
  .baseButton.primary{
    color: #fff;
    background-color: #003BAF;
    border: none;
  }
  
  .baseButton.secondary{
    color: #003BAF;
    background-color: #fff;
    border-color: #003BAF;
  }
  
  .baseButton.tertiary{
    color: #003BAF;
    background-color: transparent;
    border: none;
  
  }
  
  .baseButton.large{
    height: 3.5rem;
    font-size: 1.25rem;
  }
  
  .baseButton:hover{
    opacity: 80%;
  }
  
  .baseButton.primary__disabled{
    color: #fff;
    background-color: #555;
    border: none;
  }
  
  .baseButton.secondary__disabled{
    color:#555;
    border-color: #555;
  }

  .baseButton.secondary.active{
    background-color: #E6ECF9;
  }