
/* Primary Text Styles*/

p {
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
    padding: 0rem;
    margin: 0rem;
}

td{
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
    padding: 0rem 0.5rem;
    margin: 0rem;
}

h2 {
    font-size: 2rem;
    margin: 0rem;
    padding: 0rem;
    color: #333333
    }

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0rem;
    padding: 0rem;
    color: #333333
}

h4 {
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    padding: 0rem;
    margin: 0rem;
}

h5 {
    font-size: .875rem;
    font-weight: 400;
    color: #888888;
    padding: 0rem;
    margin: 0rem;
    white-space: pre;
}

.red-text {
    color: red;
}




/* Special Designations*/

.number-bubble{
    flex: 0 0 auto;
    width: min-content;
    font-size: 1rem;
    background-color: #CCCCCC;
    padding: .25rem .675rem;
    border-radius: 20rem
}

.warning-text{
    font-size: .75rem;
    color: red;
    padding: 0px;
    margin: 0px;
    white-space: pre;
}

.product-status{
    font-size: .875rem;
    flex: 0 0 auto;
    padding: .125rem .375rem;
    border: 1px solid #666666;
    border-radius: 4px;

}

.ribbon-text{
    font-size: .875rem;
    font-weight: 500;
    color: #333333;
    padding: 0rem;
    margin: 0rem;
}

.inPageTitle{
    font-weight: 400;
    color: #666666;
}


.text-spacer{
    width: .75rem;
    flex: 0 0 .75rem;
}