.mrv{
    & .BYDHeader {
        display: flex;
        flex: 0 0 4rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0rem 2rem;
        background-color: var(--color__surface__default);
        border-bottom: 1.5px solid var(--color__border);
      }
}