 .container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
 }

 .mainContent{
  display: flex;
  flex-direction: column;
  flex: 1 1 0rem;
  background-color: #FFFFFF;
  padding: 1rem;
 }
 
/*  Item Pic and Description */
 .picAndQty{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: space-between;
 }

 .picAndQty img{
  height: 8rem;
 }

 .picAndQty div{
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
 }

 .itemCodes{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
 }

 .itemDescription{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: .75rem;
 }

 .itemDescription h4 {
  word-break: break-word;

 }

/*  Return Reason Tabs */

 .returnReason{ 
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 1rem;

 }

 .returnReason button {
  margin: 0rem;
  height: 2.75rem;
 }

 .returnReason section{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  gap: 1rem;

 }

/* Disposition Selection Panel */

 .dispo_descriptor{
   padding: 1rem 0rem;
   display: flex;
   flex-direction: column;
   gap: .5rem;
 }

 .dispo_descriptor p  {
   flex: 1 1 0rem;
   text-align: right;
 }

 .dispo_descriptor div p {
   flex: 1 1 0rem;
   padding-right: 1rem;
   text-align: left;
 }

 .dispo_descriptor div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }


 .dispoColumns{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  gap: .75rem
 }

 .dispoColumns section{
  display: flex;
  flex-direction: column;
  flex: 1 1 0rem;
  gap: .75rem;
 }

 .dispoColumns button{
    flex: 0 0 2.75rem;
 }