 .container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
 }

 .mainContent{
  display: flex;
  flex-direction: column;
  flex: 1 1 0rem;
  background-color: #FFFFFF;
  padding: 1rem;
 }
 

 .picAndQty{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: space-between;
 }

 .picAndQty img{
  height: 8rem;
 }

 .picAndQty div{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .picAndQty h1{
  font-size: 2rem;
  margin: 0rem;
  padding: 0rem;
  color: #333333;
 }

 .picAndQty h3{
  font-size: .75rem;
  margin: 0rem .5rem;
  padding: 0rem;
  color: #666666;
 }

 .itemCodes{
  display: flex;
  flex-direction: row;
  font-size: .875rem;
  color: #666666;
  white-space: nowrap;
 }

 .itemDescription{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: .75rem;
 }

 .itemDescription p {
  font-size: 1.25rem;
  font-weight: 500;
  word-break: break-word;
  color: #333333;
  margin: 0rem;
 }

 .returnReason{ 
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 1rem;

 }
 .returnReason h1{
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  padding: 0rem;
  margin: 0rem;
 }

 .returnReason button {
  margin: 0rem;
  height: 2.75rem;
 }

 .returnReason section{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  gap: 1rem;

 }

 .dispo_descriptor{
  display: flex;
  flex-direction: column;
 }

 .dispo_descriptor div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .dispoColumns{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  gap: .75rem
 }

 .dispoColumns section{
  display: flex;
  flex-direction: column;
  flex: 1 1 0rem;
  background-color: aqua;
  gap: .75rem;
 }

 .dispoColumns button{

    flex: 0 0 2.75rem;
    margin: 0rem;

 }

