 .container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
 }

 .mainContent{
  display: flex;
  flex-direction: column;
  flex: 1 1 0rem;
  background-color: #FFFFFF;
  padding: 1rem;
 }
 

 .picAndQty{
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: space-between;
 }

 .picAndQty img{
  height: 8rem;
 }

 .picAndQty div{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .picAndQty h1{
  font-size: 2rem;
  margin: 0rem;
  padding: 0rem;
  color: #333333;
 }

 .picAndQty h3{
  font-size: .75rem;
  margin: 0rem .5rem;
  padding: 0rem;
  color: #666666;
 }

 .itemCodes{
  display: flex;
  flex-direction: row;
  font-size: .875rem;
  color: #666666;
  white-space: nowrap;
 }

 .itemDescription{
  display: flex;
  flex-direction: column;
  flex: 1 1 0rem;
  gap: .75rem;
 }

 .itemDescription p {
  font-size: 1.25rem;
  font-weight: 500;
  word-break: break-word;
  color: #333333;
  margin: 0rem;
 }

 .button{
   flex: 1 1 0rem;
   margin: 0rem 1rem;
 }