.container{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    margin: 1rem 0rem;
    gap: .25rem;
}

.vertical_container{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: .5rem;
    overflow: hidden;
}

.numbers{
    display: flex;
    flex-direction: row;
    font-size: .875rem;
    color: #666666;
    white-space: nowrap;
}

.product_description{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.status_container{
    display: flex;
    flex-direction: row;
    gap: .375rem;
}

.product_status{
    font-size: .875rem;
    flex: 0 0 auto;
    padding: .125rem .375rem;

    border: 1px solid #666666;
    border-radius: 4px;
}

img.productImage{
    height: 4.5rem;
}