.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #FFFFFF;
    padding: 1rem;
}


.mainContent tr{
    cursor: pointer;
}

.tdStacker{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
}

.voidPrice{
    color: #888;
    text-decoration: line-through;
}