.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #FFFFFF;

    padding: 1rem;

}

.tableWindow{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 0rem;
    overflow: auto;
}

.container table{
    background-color: darkgoldenrod;
}

.container th{
    background-color: coral;
}