.container{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 100%;
    height: 100%;
}

.mainContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow: auto;

}

.container table{
    background-color: darkgoldenrod;
}

.container th{
    background-color: coral;
}