/* ---- CONTAINER STYLES ---- */

.mrv.exch_Top {
  /* Special Colors */

  /* Shared Dimensions */

  /* Vertical Positions*/

  & .exchHeader {
    flex: 0 0 5rem;
    display: flex;
    flex-direction: row;
    padding: var(--PrimaryPadding__both);
    align-items: flex-end;
    justify-content: center;
  }

  & .pizzaTracker {
    flex: 0 0 6rem;
    display: flex;
    flex-direction: row;
    padding: var(--PrimaryPadding__both);
    align-items: center;
    justify-content: center;
  }

  & .main_content {
    flex: 1 1 0rem;
    display: flex;
    flex-direction: column;
    padding: var(--PrimaryPadding__both);
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
  }

  & .main_content.alignLeft {
    align-items: flex-start;
  }

  & .footer_text {
    flex: 0 0 auto;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    & p {
      text-align: center;
    }
  }

  & .footer_content {
    flex: 0 0 6rem;
    padding: var(--PrimaryPadding__vertical) 0rem;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
  }

  /* ---- Exch. Shared Component Styles  ---- */

  & .exchArrowIcon {
    color: var(--color__green);
    font-size: 2.5rem;
  }

  & .exchArrow_col {
    display: flex;
    flex: 0 0 5rem;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  & .exchTrash_col {
    display: flex;
    flex: 0 0 5rem;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}

/* ----   ---- */

/*----*/

/*

.mrv  .exchHeader{
    flex: 0 0 5rem;
    display: flex;
    flex-direction: row;
    padding: var(--PrimaryPadding__both);
    align-items: flex-end;
    justify-content: center;
}

.mrv .pizzaTracker{
    flex: 0 0 6rem;
    display: flex;
    flex-direction: row;
    padding: var(--PrimaryPadding__both);
    align-items: center;
    justify-content: center;

}

.mrv .main_content{
    flex: 1 1 0rem;
    display: flex;
    flex-direction: column;
    padding: var(--PrimaryPadding__both);
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}


.mrv .main_content.alignLeft{
    align-items: flex-start;
}

.mrv .footer_text{
    flex: 0 0 auto;
    padding: 0rem var(--PrimaryPadding__horizontal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.mrv .footer_content{
    flex: 0 0 6rem;
    padding: var(--PrimaryPadding__vertical) 0rem;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}



*/
