

.exch{
    --EXCHBLANK: true;
}

/* I guess I just don't see any reason for this to be a grid? */

.exch-rows{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

/* ---- CONTAINER STYLES ---- */

/* Vertical Positions*/

.exch-rows .exchHeader{
    flex: 0 0 5rem;
    display: flex;
    flex-direction: row;
    padding: var(--PrimaryPadding__both);
    align-items: flex-end;
    justify-content: center;
}

.exch-rows .pizzaTracker{
    flex: 0 0 6rem;
    display: flex;
    flex-direction: row;
    padding: var(--PrimaryPadding__both);
    align-items: center;
    justify-content: center;

}

.exch-rows .main_content{
    flex: 1 1 0rem;
    display: flex;
    flex-direction: column;
    padding: var(--PrimaryPadding__both);
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}


.exch-rows .main_content.alignLeft{
    align-items: flex-start;
}

.exch-rows .footer_text{
    flex: 0 0 auto;
    padding: 0rem var(--PrimaryPadding__horizontal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.exch-rows .footer_content{
    flex: 0 0 6rem;
    padding: var(--PrimaryPadding__vertical) 0rem;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}


/* ---- Exch. Shared Component Styles  ---- */


/*----*/

