.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #FFFFFF;
    align-items: center;

}

.centerColumn{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    align-items: center;
    justify-content: flex-start;
    margin: 0rem;
    padding: 0rem;
    width: 65%;

}

.listContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    width: 75%;
    align-items: center;
    justify-content: flex-start;
}