.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #FFFFFF;
    align-items: center;
    padding: 0rem 0rem 1rem;

}

.centerColumn{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    align-items: center;
    justify-content: flex-start;
    margin: 0rem;
    padding: 0rem;
    width: 65%;
    overflow: auto;
}

.listContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    width: 75%;
    align-items: center;
    justify-content: flex-start;
}

.button{
    width: 30%;
    margin: 0rem 1rem;
}