.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #FFFFFF;
    align-items: center;
    padding: 0rem 20% 1rem;
    overflow: auto;
}

.listContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    width: 75%;
    align-items: center;
    justify-content: flex-start;
}