


/*


.mrvPage{
        height: 100%;
        display: flex;
        flex: 1 1 0rem;
        flex-direction: row;
        box-sizing: border-box;
        align-items: flex-start;
        background-color: var(--color__surface__default);
        --standardBorder: calc(1.5rem / 16) solid var(--color__border);
        --primaryColumn: 25vw;
}



.mrvPage .mrvPanel__main{
    box-sizing: border-box;
    flex: 1 1 0rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mrvPage .mrvPanel__side{
    height: 100%;
    flex: 0 0 var(--primaryColumn);
    display: flex;
    flex-direction: column;
}

.mrvPage .buttonBox{
    box-sizing: border-box;
    height: 100%;
    flex: 1 1 0rem;
    display: flex;
    flex-direction: column;
    padding: 0rem var(--PrimaryPadding__horizontal);
}

.mrvPage .mrvPanel__main .buttonBox {
    flex: 0 0 var(--primaryColumn);

}


.mrvPage .border__left{
    border-left: var(--standardBorder);
}

.mrvPage .border__right{
    border-right: var(--standardBorder);
}

.mrvPage .blankback{
    background-color: transparent;
}

*/

