
.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;

}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #FFFFFF;
    padding: 1rem;

}

.tableWindow{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 0rem;
    overflow: auto;
}