.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

.buttonBox{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    background-color: #FFFFFF;
    padding: 1rem;
    gap: 1rem;
}

.mainicon{
    margin: .5rem;
    fill: #102169;
    flex: 0 0 1.5rem;
}