.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    width: 100%;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: #FFFFFF;
    width: 100%;

}