.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 3.25rem;
    width: inherit;
    padding: 0rem .5rem;
    box-sizing: border-box;
    background-color: #fff;
    color: #333333
}

.container h3{
    text-align: center;
    flex: 1 1 0rem;
}

.iconholder{
    appearance: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    flex: 0 0 2rem;
    padding: 0px;
    color: #555555;
    cursor: pointer;
    border: 0 solid transparent;
    background-color: transparent;

}
