.container{
    display:flex;
    flex-direction: column;
    flex: 0 0 20rem;
    background-color: aquamarine;
    height: 40rem;
    padding: 0rem 2rem;

}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0rem;
}

