.container{
    align-items: top;
}


.fieldContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 100%;

}
.describe{
    padding-right: 2rem;
}

.inputField{
    flex: 1 1 0rem;
    min-width: 0;
}

.fieldContainer > h4{
    flex: 0 0 2rem;
    text-align: center;
}

