
.container{
    padding: var(--PrimaryPadding__both);
    grid-row: 1 / span 1;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    --standard-height: 3.5rem;
}

.navBtn{
    height: var(--standard-height);
    width: 3rem;
    padding: 0rem;
    color: var(--color__text__primary);
    border-color: transparent;
    background-color: transparent;
}

.mainTitle{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

.defaultHeight{
    height: var(--standard-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}