
@import"./mrvContainerSize.css";
@import url("./mrvButtons.css");

@font-face {
    font-family: 'Fellix';
    src:  url('../../assets/fonts/fellix/Fellix-Regular.otf') format('otf'),
  }

.mrv-top{
  display: flex;
  flex-direction: column;
  flex: 1 1 0rem;
  width: 100%;
    --PrimaryPadding__horizontal: 2rem;
    --PrimaryPadding__vertical: 1rem;
    --PrimaryPadding__both: 
        var(--PrimaryPadding__vertical) 
        var(--PrimaryPadding__horizontal);

  font-family: "Fellix";


    /* Colors */


    --color__surface__default: #ffffff;
    --color__surface__subdued: #f4f6fa;
    --color__surface__darkblue:  #012169;

    --color__primary: #001544;
    --color__primary__inverse: #ebf1ff;
    --color__secondary: #001544d6;
    --color__tertiary: #001544ad;
    --color__interactive: #0072ce;
    --color__green: #007a33;
    --color__green__inverse: #37c271;
    --color__gold: #f5b62f;
    --color__red: #971b2f;
    --color__red__inverse: #f19caa;
    --color__disabled__text: #00000052;

    --color__card__selected: #e7f1fd;
    --color__card__hover: #f0f0f0;
    --color__card__selected__hover: #d9e9fc;

    --color__border: #9ea4b2;
    --color__border__th: #d8d8d8;
    --color__border__subdued: #cdb1dd;

}



/* ---- MRV TEXT STYLES ---- */

.mrv-top h1{
    font-weight: 500;
}

.mrv-top h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color__text__primary);
  line-height: 3.5rem;
}

.mrv-top h3.txt__large{
  font-size: 2.5rem;
  line-height: 4rem;
}


.mrv-top .body{
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
}

.mrv-top .body__small{
  font-size: 1rem;
  line-height: 1.5rem;
}


.mrv-top .tinyText{
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.5rem;
}

/*  Modifiers  */

.mrv-top .bold{
  font-weight: 600;
}

.mrv-top .warning{
  color: var(--color__red);
}

/* ---- MRV TABLE STYLES ---- */

.mrv-top table{
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    background-color: #fff;
    table-layout: fixed;
}

.mrv-top .tableContainer{
  display: flex;
  flex: 1 1 0rem;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
}


.mrv-top td{
    color: var(--color__primary);
}

.mrv-top table .tdCenter{
  text-align: center;

}


.mrv-top th{
    --primaryBorder: calc( 1.5rem / 16 ) solid var(--color__border__th);
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border-bottom: var(--primaryBorder);
    border-right: var(--primaryBorder);
}

.mrv-top thead{
    height: 3rem;
    background-color: #f5f5f5;

}


.mrv-top tr {
    border-bottom: calc( 1.5rem / 16 ) solid var(--color__border);
}

.mrv-top tr > :nth-child(1){
  padding-left: 1.5rem;
}


.mrv-top tbody tr.active{
    background-color: var(--color__card__selected);
}

.mrv-top tbody tr:hover{
    background-color: var(--color__card__hover);
}

.mrv-top tbody tr.active:hover{
    background-color: var(--color__card__selected__hover);
}

/* ---- MRV RADIO INPUT STYLES ---- */

.mrv-top label.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex: 0 0 2.5rem;
  width: 100%;
}

.mrv-top .radio input{
  flex: 0 0 1rem;
  height: 1rem;
  margin: 0rem;
}

.mrv-top .radio p{
  color: var(--color__primary);
}

input[type="radio" i]:focus-visible {
  outline-offset: 0rem;
  outline: none 0rem transparent;
}




