@import"./mrvColors.css";
@import"./mrvContainerSize.css";
@import"./mrvText.css";
@import url("./mrvButtons.css");

.mrv-top{
    height: 100%;
    --PrimaryPadding__horizontal: 2rem;
    --PrimaryPadding__vertical: 1rem;
    --PrimaryPadding__both: 
        var(--PrimaryPadding__vertical) 
        var(--PrimaryPadding__horizontal);

    font-family: "Fellix";

    /* Colors */
    --color__border: #9ea4b2;

    --color__text__primary: #001544;
    --color__text__primary__inverse: #ebf1ff;
    --color__interactive: #0072ce;

    
}