

.mrvBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    height: 4rem;
    padding: 0rem 1rem;
    margin: 0rem;
    gap: .25rem;

    border: .125rem solid;
    border-radius: .5rem;
    background-color: fuchsia;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;

    cursor: pointer;
}

.mrvBtn:hover{
    opacity: 80%;
}

.mrvBtn.primary{
    color: var(--color__primary__inverse);
    border-color: transparent;
    background-color: var(--color__interactive);
}

.mrvBtn.secondary{
    color: var(--color__interactive);
    border-color: var(--color__interactive);
    background-color: transparent;
}

.mrvBtn.ghost{
    color: var(--color__interactive);
    border-color: transparent;
    background-color: transparent;
}

.mrvBtn.jumbo{
    height: 6rem;
    font-size: 1.75rem;
}

.mrvBtn.fullWidth{
    flex: 1 1 0rem;
}

.mrvBtn.focused{
    color: var(--color__primary__inverse);
    background-color: var(--color__interactive__pressed);
    border: calc(3rem / 16) solid white;
    outline: calc(3rem / 16) solid var(--color__interactive__pressed);
}

.mrvBtn.mainAction{
    padding-left: var(--PrimaryPadding__horizontal);
}