.mrv-top{
    height: 100%;
}

.mrv-primary-grid{
    --primary-template-rows: 8rem 10rem 1fr 9rem;
    
    /*Column Parts*/
    --Pcol: 16rem 1fr;
    --LPanel: [V1] var(--Pcol) [V2];
    --RPanel: [V3] var(--Pcol) [V4];
    
    /*Middle columns, based on # of columns present*/
    --Mid_L-R: var(--Pcol) 1fr var(--Pcol);
    --Mid_x-R: 1fr var(--Pcol);
    --Mid_L-x: var(--Pcol) 1fr;
    --Mid_x-x: 1fr;

    display: grid;
    height: 100%;
    grid-template-columns: 
        var(--LPanel) 
        var(--Mid_L-R) 
        var(--RPanel);

    grid-template-rows: 1fr;
}

.mrv-panel__left{
    background-color:coral;
    grid-column: V1 / V2;
    grid-row: 1;
    display: grid;
    grid-template-rows: var(--primary-template-rows);
}

.mrv-panel__main{
    background-color: cadetblue;
    grid-row: 1;
    display: grid;
    grid-template-rows: var(--primary-template-rows);
    grid-column: V1 / V4;
    grid-template-columns: 
    var(--LPanel) 
    var(--Mid_L-R)
    var(--RPanel)
}


.mrv-panel__right{
    background-color: burlywood;
    grid-column: V3 / V4;
    grid-row: 1;
    display: grid;
    grid-template-rows: var(--primary-template-rows);
}

/* Names describe panels present, NOT size of middle panel */
.mrv-panel__main.LMR{
    grid-column: V2 / V3;
    grid-template-columns: 
        var(--LPanel) 
        var(--Mid_x-x)
        var(--RPanel)
}

.mrv-panel__main.LM{
    grid-column: V2 / V4;
    grid-template-columns: 
    var(--LPanel) 
    var(--Mid_x-R)
    var(--RPanel)
}

.mrv-panel__main.MR{
    grid-column: V1 / V3;
    grid-template-columns:     
    var(--LPanel) 
    var(--Mid_L-x)
    var(--RPanel)
}

.mrv-panel__main.M{

    }

.mrv-panel__main .bottomColumnLeft{
    grid-row: 4/5;
    grid-column: V1 / V2;
    background-color: chartreuse;
}

.mrv-panel__main .bottomColumnRight{
    grid-row: 4/5;
    grid-column: V3 / V4;
    background-color: crimson;
}



/*
Panels Present

L-M-R
[V1] ** ** [V2] 16rem 1fr 1fr 1fr 16rem [V3] ** ** [V4];

L-M
[V1] ** ** [V2] 16rem 1fr 1fr 1fr 16rem [V3] 1fr 16rem [V4];

M-R
[V1] 16rem 1fr [V2] 16rem 1fr 1fr 1fr 16rem [V3] ** ** [V4];

M
[V1] 16rem 1fr [V2] 16rem 1fr 1fr 1fr 16rem [V3] 1fr 16rem [V4];

*/

.mrv-container{
    padding: 1rem 2rem;
}

.test-bottom-container{
    grid-row: 5;
}


/*
Slots Taken

L-M-R
[V1] 16rem 1fr [V2] 16rem 1fr 1fr 1fr 16rem [V3] 1fr 16rem [V4];

L-M
[V1] 16rem 1fr [V2] 16rem 1fr 1fr 1fr 16rem [V3] 1fr 16rem [V4];

M-R
[V1] ** ** [V2] 16rem 1fr 1fr 1fr 16rem [V3] 1fr 16rem [V4];

M
[V1] ** ** [V2] 16rem 1fr 1fr 1fr 16rem [V3] ** ** [V4];

*/

/*
From last weekend:
.mrv-side{
    flex: 1 1 18rem;
    background-color: blueviolet;
}

.mrv-main{
    flex: 4 4 28rem;
    background-color: aquamarine;
}

.mrv-column-grid{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 10rem 1fr 9rem;
}



From the old library

.seventy_panel{
    display: flex;
    flex-direction: column;
    flex: 7 7 0rem;
    height: 100%;
    box-sizing: border-box;
  }


  .thirty_panel{
    display: flex;
    flex-direction: column;
    flex: 3 3 0rem;
    box-sizing: border-box;
    height: 100%;
  }


.mrv-side{
    flex: 0 1 32rem;
    background-color: blueviolet;
}

.mrv-main{
    flex: 1 2 0rem;
    background-color: aquamarine;
}


.mrv-side{
    flex: 2 1 0rem;
    background-color: blueviolet;
}

.mrv-main{
    flex: 4 2 0rem;
    background-color: aquamarine;
}



*/