
.mrvPage{
        height: 100%;
        display: flex;
        flex: 1 1 0rem;
        flex-direction: row;
        box-sizing: border-box;
        align-items: flex-start;

        --standardBorder: calc(1.5rem / 16) solid var(--color__border);
}





/*Since the standard size of rows will be different in different MRV Products, grid-template-row is specified at the Product level. */


.mrvPage .mrvPanel__main{
    --Mcol: min(40%, 30rem);
    flex: 5 5 0rem;
    height: 100%;
    display: grid;
    grid-template-columns: var(--Mcol) 1fr var(--Mcol);
    background-color: #fff;
}

.mrvPage .mrvPanel__side{
    height: 100%;
    display: grid;
    flex: 2 2 0rem;
    max-width: 30rem;
    grid-template-columns: 1fr;
    background-color: #fff;
}

/* The Main panel has multiple sub-divisions which can be selected with these */

.mrvPanel__main .right_col{
    grid-column: -1 / -2;
}

.mrvPanel__main .left_col{
    grid-column: 1 / span 1;
}

.mrvPanel__main .main_col{
    grid-column: 1 / -1;
}


/* Extra Styles */

.mrvPage .border__left{
    border-left: var(--standardBorder);
}

.mrvPage .border__right{
    border-right: var(--standardBorder);
}

.mrvPage .blankback{
    background-color: transparent;
}


/*

*/

