
.replacementTop{
    --main__column: flex: 6 6 0rem;

    .cardStyle{
        width: 100%;
    }
    .cardRow{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .RI_Panel30{
        .main_content{
            gap: 2rem;
        }

        .discountCtnr{
            box-sizing: border-box;
            flex-direction: column;
            display: flex;
            flex: 0 0 auto;
            width: 100%;
            gap: 2rem;

            .inputsCtnr{
                box-sizing: border-box;
                flex-direction: row;
                display: flex;
                flex: 1 1 0rem;
                width: 100%;
                gap: 1rem;


                input{
                    height: 4rem;
                }

            }
        }
        
    }
}