.container{
    display: flex;
    flex-direction: row;
    flex: 1 1 0rem;
    gap: 1rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    flex: 1 1 0rem;

}

.content30{
    padding: 0rem 1rem;
}

.content70{

}