.container{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.columnHolder{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 100%;
    align-items: center;
    margin-right: .25rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
}

.L2container{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.lineHeight{
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.stepLine{
    width: 2px;
    flex: 1 1 0rem;
}

.icon{

}
