.container{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: antiquewhite;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 100%;
    background-color: burlywood;
    align-items: center;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color:darkseagreen
}

.L2container{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: hotpink;
}

.lineHeight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1.5rem;
}

.stepLine{
    width: 2px;
    height: 100%;

}

.icon{

}
