.container{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;

}

.container h4{

    color:brown;
}

.badge{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    width: auto;
}

.icon{

}