.container{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: antiquewhite;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 100%;
    background-color: burlywood;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color:darkseagreen
}

.L2container{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: hotpink;
}

.icon{

}

.icon.ok{
    color: green;
}

.icon.inProgress{
    color: green;
}

.icon.fail{
    color: green;
}