
.card{
    display: flex;
    flex-direction: row;
    margin: auto 0rem;

}

.card img{
    height: 72px;
    width: 72px;
}
.textContainer{
    display: flex;
    flex-direction: column;
}

.textContainer p {
    margin: 0rem;
    line-height: 1.5rem;
    padding: .25rem 0rem;
}


.refnum{
    font-size: .875rem;
    color: #6f6f6f;
    margin: inherit;
    padding: inherit;

}

.badgeContainer{
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0rem;

}
