.card{
    display: flex;
    flex-direction: row;

}

.card img{
    height: 72px;
    width: 72px;
}

.textContainer{
    display: flex;
    flex-direction: column;
}

.refnum{
    font-size: .875rem;
    color: #6f6f6f;
}