.mrv.STRX_top .cashTotal {
  justify-content: flex-start;
  background-color: aquamarine;
  padding-left: 2rem;
  align-items: center;
  gap: 1rem;
  color: var(--color__primary);

  & .cashLine {
    display: flex;
    flex-direction: column;
    flex: 0 0 8rem;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;

    & div {
      height: 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  & .sdTitles {
    flex: 0 0 auto;
    align-items: flex-end;
  }

  & .totalCol {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: flex-end;
  }
}
