.mrv {
    & .mrvProdInfo{
        display: flex;
        flex: 1 1 0rem;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0rem;
        gap: 1rem;
    
        & .tinyText{
            line-height: 2rem;
        }
    
        & .productImage{
            display: flex;
            height: 5.5rem;
            width: 5.5rem;
            border-radius: .5rem;
        };
    
    
        & .textColumn{
            display: flex;
            flex-direction: column;
            white-space: pre-wrap;
            width: 100%;
            flex: 1 1 0rem;

            & .underArr{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.5rem;
                align-items: center;
                justify-content: flex-start;
                flex: 0 0 auto;
                width: 100%;
            }
        };
    
        & .textRow{
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            gap: 2rem;
        };
        
        & .itemModel{
            color: var(--color__tertiary)
        };
        
        & .prodDescription{
            color: var(--color__primary)
        };
    
    }
    
    
    
    
    
    
} 