.mrv{
    & .PriceDisplayMRV{
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        min-width: 0rem;

        & .bigPrice{
            display: flex;
            align-items: flex-end;
            flex: 0 0 auto;
            min-width: 0rem;
        }
        & .taxRow{
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            min-width: 0rem;
            gap: 0.25rem;
            align-items: flex-end;
        }
    }
}