.mrv {
  .productImageMRV {
    --smallCell: 5.5rem;

    display: flex;
    flex-direction: row;
    gap: 0rem;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    height: auto;

    & .childArrowCtnr {
      display: flex;
      width: 2.5rem;
      height: auto;
      color: var(--color__tertiary);
      align-items: center;
      justify-content: center;
    }
    .imageCtnr {
      display: flex;
      flex: 0 0 auto;
      height: auto;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: var(--radius__medium);
      background-color: var(--color__surface__default);
      overflow: hidden;
    }

    &.S {
      & .image {
        width: 4rem;
        height: 4rem;
      }

      & .imageCtnr {
        width: var(--smallCell);
      }
    }

    &.M {
      & .image {
        width: var(--smallCell);
        height: var(--smallCell);
      }
    }
    &.L {
      & .image {
        width: 8rem;
        height: 8rem;
      }
    }
  }
}
