.mrv .scanSceen {
  display: flex;
  flex: 1 1 0rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & img {
    height: 8rem;
  }
}

/* // .totalPriceCol deleteCol */
