.container{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;

}
.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}