.container{
    display: flex;
    flex-direction: column;
    flex: 0 0 12rem;
    width: 100%;
    text-align: center;
}

.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 0rem 0.75rem;
    margin: 0rem;
    gap: 0.75rem;

}

.distalHolder{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    padding: 0.75rem;
    align-items: center;
    justify-content: center;
}