.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 0rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 0rem;
    background-color: #FFFFFF;
}