.thirty_panel{
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
    height: 100%;
}

.spacer{
    background-color: blueviolet;
    flex: 0 0 100px;
}

.main_content{
    height: 100%;
    background-color: darkgoldenrod;
}