.container{
    display: flex;
    flex-direction: row;
    flex: 0 0 9rem;
    justify-content: flex-start;
    width: 100%;
    gap: 0.75rem;
}

.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: transparent;
    justify-content: center;
    padding: 1rem 0rem;
    gap: .75rem;
}

.modelInfo{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.description{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.priceInfo{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;
}

.imageHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    background-color: transparent;
    flex: 0 0 auto;
}

.productImage{
        height: 6rem;
}