.container{
    display: flex;
    flex-direction: row;
    flex: 0 0 8rem;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid blue;
}


.mainContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: bisque;
    justify-content: center;
    gap: .75rem;
}

.modelInfo{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.description{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.priceInfo{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;
}

.imageHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    background-color: aqua;
    flex: 0 0 auto;
}

.productImage{
        height: 6rem;
}