.container{
    display: flex;
    flex-direction: column;
    flex: 0 0 12rem;
    width: 100%;
}

.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 0rem;
    background-color: cornflowerblue;
}

.distalHolder{
    display: flex;
    flex-direction: column;
    flex: 0 0 2.5rem;
    background-color: darkgray;
    align-items: center;
    justify-content: center;
}