.navtab{
    appearance: none;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: transparent;
    color: #fff;
    margin: 0rem 0.5rem;
    padding: 0rem 0rem;
    background-color: transparent;
    font-weight: 500;
    height: auto;
}

.active{
    border-color: #0091ff;
    color: #0091ff;
}