.navtab{
    appearance: none;
    border-width: 4px 0px 4px 0px;
    border-style: solid;
    border-color: transparent;
    color: #fff;
    margin: 0rem 0.5rem;
    padding: 0rem 0rem;
    background-color: transparent;
    font-weight: 500;
    height: 100%;
}

.active{
    border-top: 4px solid transparent;
    border-bottom: 4px solid #0091ff;
    color: #0091ff;
}