.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex: 1 1 0rem;
    justify-content: right;
    gap: 1rem;
    height: 100%;
    padding: 1.25rem 0rem;
}

.container > section{
    display: flex;
    flex: 0 1 10rem;
    flex-direction: column;
    gap: .75rem;
}

.itemizedColumn{
    justify-content: center;
}

.totalColumn{
    align-items: flex-end;
    justify-content: space-between;
}

.refundText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
}
