.tableheading{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.icon{
    color: #000;
    opacity: 87%;
    font-size: 3.25rem; 
    margin: 0rem .25rem;
    flex: 0 0 1.25rem;
}

.active{
    color: #003baf;
    opacity: 100%;
}