.titlebar{
    display: flex;
    flex-direction: column;
    width: 100%
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 3rem;
    width: inherit;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0rem .5rem;
    box-sizing: border-box;
    background-color: #fff;
}

.iconholder{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 2rem;
    background-color: aqua;
}

p{
    text-align: center;
    width: 100%;
}