.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: .5rem;
    border: solid 2px #e0e7f5;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
}

.icon1{
    margin: .5rem;
    fill: aqua;
    flex: 0 0 1.5rem;
}

.icon2{
    margin: .5rem;
    flex: 0 0 1rem;
}


.container p{
    width: 100%;
    padding: 0px;
    margin: 0rem;
    text-align: left;
    font-size: 1rem;

}

/*

#102169;

*/