.verticalnavmenu{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    height: inherit;
    width: inherit;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
}

.mainicon{
    margin: .5rem;
    fill: #102169;
    flex: 0 0 1.5rem;
}