.pt{
    --ptSize: 2.5rem;
    --borderSize: calc(2rem / 16);
}

section.pt{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 0rem;
    height: 100%;
    margin: 0rem;
    padding: 0rem;

}

.spacer{
    display: flex;
    flex-direction: row;
    flex: 1 1 0rem;
    height: var(--ptSize);
    align-items: center;
}

.spacer div{
    background-color: var(--color__border);
    height: var(--borderSize);
    width: 100%;
}

.end{
    flex: 0 0 5%;
}

.ptNode{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    width: var(--ptSize);
}

.ptNode p{
    text-align: center;
    color: green;
    overflow: visible;
    white-space: nowrap;
}

.ptBtn{
    height: var(--ptSize);
    width: var(--ptSize);
    border: var(--borderSize) solid black;
    border-radius: var(--ptSize);
    background-color: brown;
}

.ptBtn.notStarted{

}